# Dependency directories
node_modules/

# Build outputs
dist/
build/
.vite/

# System files
.DS_Store

# Local environment variables
.env
.env.*
!env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# IDEs / Editor configs
.vscode/
.idea/

# Coverage reports
coverage/

# TypeScript build info
*.tsbuildinfo